{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<table class="table table-sm mt-2 mb-4 table-bordered table-hover">
    <tbody>
        <tr>
            <td>{% trans "Registry Number" %}</td>
            <td>{% firstof request_model.registry_number "<b>–</b>" %}</td>
        </tr>
        <tr>
            <td>{% trans "Purchase Name" %}</td>
            <td>{% firstof  request_model.purchase_name "<b>–</b>" %}</td>
        </tr>
        <tr>
            <td>{% trans "Initial Price" %}</td>
            <td>{% firstof request_model.initial_price|space_separated "<b>–</b>" %} ₽</td>
        </tr>
        <tr>
            <td>{% trans "Bid Security Amount" %}</td>
            <td>{% firstof request_model.bid_security_amount|space_separated "<b>–</b>" %} ₽</td>
        </tr>
        <tr>
            <td>{% trans "Work Security Amount" %}</td>
            <td>{% firstof request_model.work_security_amount|space_separated "<b>–</b>" %} ₽</td>
        </tr>
        <tr>
            <td>{% trans "Warranty Security Amount" %}</td>
            <td>{% firstof request_model.warranty_security_amount|space_separated "<b>–</b>" %} ₽</td>
        </tr>
        <tr>
            <td>{% trans "Warranty Period" %}</td>
            <td>{% firstof request_model.warranty_period "<b>–</b>" %}</td>
        <tr>
            <td>{% trans "Bid Submission Deadline" %}</td>
            <td>{% firstof request_model.bid_submission_deadline|date:"d.m.Y H:i" "<b>–</b>" %}</td>
        </tr>
        <tr>
            <td>{% trans "Contract Completion Date" %}</td>
            <td>{% firstof request_model.contract_completion_date|date:"d.m.Y H:i" "<b>–</b>" %}</td>
        </tr>
        <tr>
            <td>{% trans "Comment" %}</td>
            <td>{% firstof request_model.comment "<b>–</b>" %}</td>
        </tr>
        <tr>
            <td>{% trans "State" %}</td>
            <td>{% firstof request_model.state.name "<b>–</b>" %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
