{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>{% trans "My Purchases" %}</h1>
  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" href="{% url 'purchase_app:create_request' %}">{% trans "Add" %}</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans "Registry Number" %}</th>
      <th>{% trans "Purchase Name" %}</th>
      <th>{% trans "Initial Price" %}</th>
      <th>{% trans "Bid Submission Deadline" %}</th>
      <th>{% trans "State" %}</th>
      <th class="text-center">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>{{ request.id }}</td>
        <td><a href="https://zakupki.gov.ru/epz/order/notice/ea20/view/common-info.html?regNumber={{ request.registry_number }}" target="_blank">{{ request.registry_number }}</a></td>
        <td>
          <span tabindex="0" data-bs-toggle="popover" title="" data-bs-content="{{ request.purchase_name }}" data-bs-trigger="hover" data-bs-html="true" data-bs-original-title="">
            <a href="{% url 'purchase_app:request_details' request.id %}">{{ request.purchase_name|truncatechars:200  }}</a>
          </span>
        </td>
        <td>{{ request.initial_price|space_separated }} ₽</td>
        <td>{{ request.bid_submission_deadline|date:"d.m.Y H:i" }}</td>
        <td>
          {% trans request.state.name %}
        </td>
        <td class="text-end">
          <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ request.id }}" href="{% url 'purchase_app:edit_request' request.id %}">{% trans "Edit" %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% for request in requests %}
{% include 'requests/edit_request.html' %}
{% include 'requests/edit_request_state.html' %}
{% endfor %}
{% include 'requests/create_request.html' %}
{% endblock %}
