{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
  <h2 class="text-center">Login</h2>
  <form method="post" class="col-md-6 mx-auto">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
      <div class="input-group">
        <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
      </div>
    </div>
    {% endfor %}
    <div class="container mt-4 text-center">
    <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
    <div>
  </form>
</div>
{% endblock %}
