{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <h1>{% trans "Планы покупок" %}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Номер Плана" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase_plan in purchase_plans %}
        <tr>
          <td><a href="{% url 'purchase_app:purchase_details' purchase_plan.externalId %}">{{ purchase_plan.planNumber }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
