{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Менеджер закупок{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'purchase_app:index' %}">Менеджер закупок</a>
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'purchase_app:request_list' %}">Мои закупки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'purchase_app:logout' %}">Выход</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'purchase_app:auth_login' %}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'purchase_app:sign_up' %}">Регистрация</a>
          </li>
      {% endif %}
    </ul>
  </nav>

  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
