<!-- Edit Request Modal -->
<div class="modal fade" id="editModal{{ request.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ request.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel{{ request.id }}">{{ "Редактирование закупки" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'purchase_app:edit_request' request.id %}" class="mx-auto">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group mt-2 mb-2">
              <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
              {% if field.field.required %}
                <span class="text-danger">*</span>
              {% endif %}
              <div class="input-group">
                {% if field.name == 'status' %}
                  <select name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                    {% for value, label in field.field.choices %}
                      <option value="{{ value }}" {% if value == field.value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %} {% if field.value %}value="{{ field.value }}"{% endif %}>
                {% endif %}
              </div>
              {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" name="editRequest" class="btn btn-primary">{{ "Submit" }}</button>
        </form>    
      </div>
    </div>
  </div>
</div>